body{
    background-color: #f6f2e8 ;
    text-align: center;  
}

.botao{
    font-size: 1.2em;
    background: #C5D4EB;
    border: 0;
    margin-bottom: 1em;
    color: rgb(4, 50, 91);
    padding: 0.2em 0.6em;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.2);
    position: absolute;
    top: 80%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.botao:hover {
    background: #DFE9F5;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

fieldset{
    text-align: center;
    position:absolute;
    width: 30%;
    left: 34%;
    background-color:#ffffff ;
}

figure{
    left: 75%; 
    top: 300px;
    position: absolute;
}

a:link{
    color: white;
    text-decoration: none;
}

a:visited{
    color:white;
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: none;
}